/*
150,15,70 - tdd magenta
15, 15, 15 - tdd darkgrey
200, 200, 200 - tdd lightgrey
*/

html,
body{
    margin: 0;
    padding: 0;
    background-color: rgb(200,200,200);
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.5pt;
}

a,
.button{
    color: rgb(150,15,70);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

a:hover,
.button:hover{
    opacity: 0.5;
    color: rgb(15,15,15);
    cursor: pointer;
}

.minute-grid{
    opacity: 0;
    display: flex;
    border: 10px solid blue;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.minute-grid div{
    box-sizing: border-box;
    border: 5px solid green;
    width: calc(100% / 11);
    height: calc(100% / 21);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hour-grid{
    opacity: 0;
    display: flex;
    border: 10px solid blue;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.hour-grid div{
    box-sizing: border-box;
    border: 5px solid green;
    width: calc(100% / 5);
    height: calc(100% / 5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
analog clock
*/

.clock-analog{
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.clock-analog .clock-knob{
    width: 2.8vh;
    height: 2.5vh;
    border-radius: 100%;
    background-color: rgb(150,15,70);
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.clock-analog .clock-arm-hour{
    width: 16vw;
    height: 6px;
    background-color: rgb(150,15,70);
    position: fixed;
    top: 50vh;
    left: calc(50vw + 8vw);
    transform-origin: left;
}

.clock-analog .clock-arm-hour div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

.clock-analog .clock-arm-minute{
    width: 20vw;
    height: 4px;
    background-color: rgb(150,15,70);
    position: fixed;
    top: 50vh;
    left: calc(50vw + 10vw);
    transform-origin: left;
}

.clock-analog .clock-arm-minute div,
.clock-analog .clock-arm-minute a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}
.clock-analog .clock-arm-second{
    width: 24vw;
    height: 2px;
    background-color: rgb(150,15,70);
    position: fixed;
    top: 50vh;
    left: calc(50vw + 12vw);
    transform-origin: left;
}

.clock-analog .clock-arm-second div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

.clock-analog .button,
.clock-analog a{
    color: rgb(15,15,15);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.clock-analog a:hover,
.clock-analog .button:hover{
    opacity: 0.5;
    cursor: pointer;
}

/*
digital clock
*/

.clock-digital {
    display: block;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72pt;
    font-weight: 700;
    /* color: rgb(150,15,70); */
    color: transparent;
    -webkit-text-stroke: 2px rgb(150,15,70);
}

/*
thumbnails
*/
.videos{
    
}

.videos figure{
    padding: 0;
    margin: 0;
    position: fixed;
    /* mix-blend-mode: difference; */
}

.videos figure:nth-of-type(1){
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

.videos figure:nth-of-type(2){
    left: 50%;
    top: 0;
    transform:translate(-50%,0);
}

.videos figure:nth-of-type(3){
    right: 0;
    top: 25%;
    transform:translate(0,-25%);
    
}

.videos figure:nth-of-type(4){
    right: 0;
    top: 75%;
    transform:translate(0,-75%);
}

.videos figure:nth-of-type(5){
    left: 50%;
    bottom: 0;
    transform:translate(-50%,0);
}

.videos figure:nth-of-type(6){
    left: 0;
    top: 75%;
    transform:translate(0,-75%);
}

.videos figure:nth-of-type(7){
    left: 0;
    top: 25%;
    transform:translate(0,-25%);
}

.videos figure figcaption{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36pt;
}

.videos figure img{
    display: block;
    max-height: 25vh;
    opacity: 1;
    border-radius: 100%;
}

/*
info page
*/
.info-page{
    position: relative;
    z-index: 1;
    display: none;
    padding: 20pt;
}

h1,h2,p{
    margin: 0;
    padding: 0;
    font-size: 12pt;
}

.info-page .info-page-header div{
    font-weight: 700;
    text-transform: uppercase;
}

.info-page details summary{
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(150,15,70);
    list-style: none;
    position: sticky;
    top: 20pt;
    border-bottom: 1px solid transparent;
}

.info-page details summary:hover{
    border-bottom: 1px solid rgb(150,15,70);
}

.info-page details[open] summary{
    border-bottom: 1px solid rgb(150,15,70);
}

.info-page details[open] summary:hover{
    border-bottom: 1px solid transparent;
}

.info-page details > summary::-webkit-details-marker {
    display:none;
}

.info-page details > div{
    padding: 20pt;
}

h1,h2{
    font-weight: 700;
    text-transform: uppercase;
}

h1{
    color: rgb(150,15,70);
}

p{
    width: 50%;
}

/*
mobile view
*/
@media only screen and (max-width:480px) {
	.videos figure img{
        max-height: 15vh;
    }

    .clock-digital {
        font-size: 48pt;
    }

    p{
        width: 100%;
    }

    .clock-analog .clock-arm-hour{
        width: 24vw;
        left: calc(50vw + 12vw);
    }

    .clock-analog .clock-arm-minute{
        width: 30vw;
        left: calc(50vw + 15vw);
    }

    .clock-analog .clock-arm-second{
        width: 36vw;
        left: calc(50vw + 18vw);
    }
}